.moviescardlist {
  margin: 0;
  padding: 0;
  max-width: 1280px;
}

.moviescardlist__list {
  list-style: none;
  margin: 0 auto;
  padding: 70px 0 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  grid-template-rows: repeat(auto-fit, 201px);
  row-gap: 32px;
  column-gap: 20px;
  width: calc(100% - 2 * 70px);
  max-width: 1280px;
  align-items: center;
  justify-content: center;
}

.cards__placeholder {
  color: #fff;
  text-align: center;
}

.cards__button-container {
  display: flex;
  justify-content: center;
}

.cards__button {
  margin: 0;
  padding: 0;
  border-radius: 6px;
  border: 1px solid #424242;
  background: transparent;
  margin-bottom: 79px;
  margin-top: 50px;
  width: 320px;
  height: 36px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  align-self: center;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .moviescardlist__list {
    width: calc(100% - 2 * 30px);
    grid-template-columns: repeat(auto-fit, 339px);
    grid-template-rows: repeat(auto-fit, 190px);
    gap: 47px 30px;
    justify-content: center;
    padding: 100px 0 0px;
  }
}

@media screen and (max-width: 450px) {
  .moviescardlist__list {
    width: calc(100% - 2 * 10px);
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 168px);
    gap: 20px;
  }
}
