.portfolio {
  width: 100%;
  margin-bottom: 105px;
}

.portfolio__title {
  margin: 0 70px 50px;
  max-width: 250px;
  color: #8b8b8b;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  width: 89%;
}

.portfolio__links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0 70px;
}

.portfolio__links-item {
  border-bottom: 1px #424242 solid;
  margin-bottom: 20px;
}

.portfolio__links-item:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 0 0 9px 0;
}

.portfolio__subtitle {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -1.2px;
  margin: 0;
  padding: 0;
}

.portfolio__arrow {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .portfolio {
    margin-bottom: 70px;
  }

  .portfolio__title {
    margin: 0 50px 47px;
  }

  .portfolio__links {
    margin: 0 50px;
  }

  .portfolio__subtitle {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}
