.seachform {
  margin: 70px auto 48px;
  padding: 0;
  width: 100%;
  max-width: calc(100% - 2 * 70px);
}

.seachform__input-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.seachform__input {
  margin: 0;
  padding: 0;
  width: 93%;
  padding-bottom: 15px;
  padding-top: 14px;
  padding-left: 20px;
  color: #8b8b8b;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #2f2f2f;
  border: none;
  border-radius: 8px;
}

.seachform__input:focus {
  outline: none;
  opacity: 0.4;
}

.seachform__btn {
  background-image: url('../../images/edit-button.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 40px 40px;
  width: 44px;
  height: 44px;
  margin: 0;
  max-width: 59px;
  border-radius: 10px;
  background-color: #4285f4;
  border: none;
}

.seachform__checkbox-conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.seachform__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.seachform__label {
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  display: inline-flex;
  align-items: center;
  user-select: none;
  text-align: center;
}

.seachform__checkbox + .seachform__label::before {
  content: '';
  background-image: url('../../images/smalltumb.svg');
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.seachform__checkbox:checked + .seachform__label::before {
  width: 36px;
  height: 20px;
  background-image: url('../../images/smalltumboff.svg');
}

@media screen and (max-width: 800px) {
  .seachform {
    max-width: calc(100% - 2 * 30px);
    margin: 71px auto 61px;
  }
  .seachform__input-container {
    margin-bottom: 40px;
  }

  .seachform__input {
    width: 89%;
  }

  .seachform__checkbox + .seachform__label::before {
    margin-right: 0;
    margin-right: 16px;
  }

  .seachform__label {
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    user-select: none;
    text-align: center;
  }
}
