.techs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  position: relative;
  max-width: 1280px;
}

.techs__title {
  width: 89%;
  margin: 100px 0 71px 0px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
  padding-bottom: 24px;
}

.techs__content {
  display: flex;
  flex-direction: column;
}

.techs__subtitle {
  color: #fff;
  max-width: 730px;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.techs__text {
  max-width: 460px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  margin: 14px 0 100px 0;
}

.techs__list {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0 auto 100px;
}

.techs__list-item {
  border-radius: 10px;
  background: #303030;
  width: 90px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.techs__list-item:last-of-type {
  margin-right: 0;
}

.techs__list-text {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 850px) {
  .techs {
    max-width: 768px;
  }

  .techs__title {
    width: 87%;
    margin: 90px 0 60px 0px;
    font-size: 22px;
  }

  .techs__text {
    max-width: 450px;
    margin: 11px 0 80px 0;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .techs__list-item {
    width: 84px;
  }

  .techs__list {
    margin: 0 auto 90px;
  }
}
